<navigation></navigation>

<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-8">

            <!--<p ng-repeat="asdf in aa1"> Name : {{ asdf.name }} >> {{ asdf.address }} </p>-->

            <label for="filter">Filter results</label>
            <input id="filter" type="text" name="filter" ng-model="textFilter">

            <div class="row list-group">
                <div class="col-xs-12 list-group-item" HERE>

                </div>
            </div>

            <button ng-click="cas.popupReviewForm(input)"> click {{textFilter}} </button>

        </div>
    </div>

    <!--remember footer-generic = footerGeneric-->
    <footer-generic></footer-generic>
</div>










